body {
  margin: 0;
  background: linear-gradient(315deg, #7d030b, #fc8803, #7d030b, #fc8803);
  background-size: 400% 400%;
  animation: bganim 50s ease infinite;
}

@keyframes bganim {
    0% {
        background-position:0% 0%
    }
    50% {
        background-position:100% 100%
    }
    100% {
        background-position:0% 0%
    }
}

.topnav {
  overflow: hidden;
  padding: 20px;
}
  
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav-left {
  float: left;
}

.topnav a:hover {
  color: gray;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow-y: hidden;
  transition: 0.2s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.1s;
}

.overlay a:hover {
  color: gray;
}

.overlay .closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 20px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
  }
}