body {
  margin: 0;
  background: linear-gradient(315deg, #7d030b, #fc8803, #7d030b, #fc8803);
  background-color: #7d030b;
  background-size: 400% 400%;
  animation: bganim 50s ease infinite;
  font-family: Quicksand;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(./fonts/Quicksand/300.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./fonts/Quicksand/500.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./fonts/Quicksand/600.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./fonts/Quicksand/700.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: regular;
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/Quicksand/regular.ttf) format('truetype');
}

@keyframes bganim {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 100% 100%
    }
    100% {
        background-position: 0% 0%
    }
}

.topnav {
  overflow: hidden;
}
  
.topnav a {
  float: right;
  color: white;
  text-align: center;
  padding: 28px 30px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.topnav-left {
  float: left;
  padding: 14px 20px;
}

.topnav a:hover {
  opacity: 75%;
  font-size: 22px;
}

.dropdown:hover .dropbtn:hover {
  opacity: 75%;
  font-size: 22px;
}

.topnav .icon {
  display: none;
  transition: 0.3s;
}

.nd {
  display: none;
}

@media screen and (max-width: 1450px) {
  .ndtext {
    display: none;
  }
  .nd {
    display: block;
  }
}

@media screen and (max-width: 1250px) {
  .topnav a {
    display: none;
  }
  .topnav .icon {
    display: block;
  }
  .topnav .nd {
    display: block;
  }

  .dropbtn2 {
    display: none;
  }
  .dropdown-content {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0,0,0, 0.8);
  overflow-y: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.1s;
}

.overlay a:hover {
  opacity: 75%;
  font-size: 22px;
}

.overlay .closebtn {
  text-align: right;
  padding: 0;
  font-size: 20px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    transition: 0.3s;
  }
}

/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  transition: 0.3s;
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 28px 30px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  border-radius: 15px;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  background-color: rgba(0,0,0, 0.4);
  float: none;
  position: relative;
  min-width: 0px;
  z-index: 1;
  max-height: 0;
  transition: 0.3s;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 15px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  opacity: 75%;
  border-radius: 15px;
  font-size: 22px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  transition: 0.3s;
  max-height: 150px;
  padding: 8px;
}